<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.market.app.repository.AppRepository">
	<select id="findByName" resultType="App">
		SELECT id,
			   name,
			   isMembership,
			   createdAt,
			   updatedAt
		FROM App
		WHERE name = #{name}
	</select>
</mapper>
